*{
    margin: 0;
    padding: 0;
}

section{
    padding: 50px;
    background-color: rgb(226, 194, 194);
}

.about__div{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 500px;
    padding: 45px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 10px 5px 5px 10px rgb(63, 47, 47);
}


.spain-div{
    display: flex;
    justify-content: space-between;
}


.about-div{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 450px;
    padding: 30px;
}

.about-link{
    text-decoration: none;
}

.about-div2{
    margin-left: 300px;
}


.about-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 250px;
}

.about-item:nth-child(2){
    font-weight: bold;
}

.siyt__div{
    width: 600px;
}



.info-div{
    width: 250px;
}


.info__div{
    margin-top: 200px;
    margin-left: 100px;
}

.info-hedding{

    font-size: 30px;
}

.info-span{
    width: 90px;
    height: 5px;
    background-color: #000;
}

.info-text{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.siyt-div{
    width: 450px;
    display: flex;
    justify-content: space-between;
}
.siyt-img{
    margin-bottom: 10px;
    width: 200px;
    height: 100px;
}

.sity-link{
    text-decoration: none;
    display: block;
}

.pink-div{
    width: 200px;
}